:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.sign-in-button {
  padding: 10px 10px;
  border: none;
  background-color: white;
  color: #001529;
  font-weight: bold;
  font-size: normal;
  border-radius: 10px;
}

.sign-in-button:hover {
  cursor: pointer;
  background-color: #134d83;
  color: white;
}

.chat {
  height: 100%;
  width: 100%;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.chat-header {
  display: block;
  width: 100%;
  height: 20%;
  color: #001529;
  padding: 0;
  margin: 0;
  background-color: white;
}

.chat-messages {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

.chat-messages-no {
  color: white;
  font-weight: 400;
  padding: 10px 3px;
}

.message {
  color: white;
  font-weight: 600;
  padding: 10px 3px;
  display: flex;
}

.chat-message-card-from {
  background: transparent;
}

.chat-message-card-from .ant-card-body{
  padding: 0;
}

.message .ant-image{
  margin-right: 5px;
}

.chat-message-card-from-text{
  background-color: #292C7A; /* choix couleur #4465C1 #0E102A*/
  border-radius: 5px;
  padding: 5px;
  width: 60%;
  text-align: left;
}

.chat-message-card-from-horaire {
  font-style: oblique;
  font-size: 12px;
  text-align: end;
  height: 5px;
}

.chat-control {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}

form {
  width: 100%;
}

textarea {
  width: 87%;
  height: 32px;
  resize: none;
  margin-right: 0;
  border: 1px rgba(201, 184, 184, 0.699) solid;
  background: transparent;
  color: white;
  font-weight: 400;
  border: none;
}

textarea:focus {
  outline: none;
}


.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game-board {
  width: 100%;
  height: 100%;
}

.face-down-pile {
  position: absolute;
  top: 10px;

}

.face-up-pile {
  position: absolute;
  top: 60px;
  left: 55%;
}

.symbol {
  width: 20px;
  height: 20px;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .value {
  font-size: 10px;
  font-weight: bold;
  color: white;
}